body, html {
	padding-top:10px;
	margin:0px;
	font-family: "Calibri";
	text-align: center;
	text-shadow:0px -1px 0px black;
	color:rgba(255, 255, 255, 0.95);
	background-color: rgb(50, 50, 50);
}

.edit {
	width:200px;
	font-size: 20px;
	padding:10px;
	border:0px;
	border-radius:4px;
}

form {
	background-color: rgba(0, 0, 0, 0.2);
	padding:20px;
	border-radius:5px;
	width:300px;
}

.submit {
	padding:10px;
	width:200px;
	margin-top: 20px;
	border:1px solid rgba(255,255,255,0.1);
	border-radius:5px;
	background-color: rgba(0, 0, 0, 0.4);
	color:rgba(255,255,255,0.6);
	height:50px;
}

.search-content {
	padding: 20px;
	width:500px;
	border-radius:4px;
	margin-top: 30px;
}

.search-item {
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	padding:15px;
	margin-top: 20px;
}

.search-item h1,h2,h3,h4,h5,h6 {
	margin:0px;
	padding:0px;
}

.search-item audio {
	margin-top: 10px;
	margin-bottom: 10px;
}

#login-form {
	width:150px;
	position: absolute;
	right:10px;
	background-color: rgba(0, 0, 0, 0.2);
	padding:20px;
	border-radius:5px;

}

#login-form .edit{
	font-size: 14px !important;
	width:100px;
}

ul {
	list-style-type: none;
	text-align: left;
}

ul a {
	text-decoration: none;
	color:rgba(255,255,255,0.7);
}

ul a:hover {
	color:rgba(255,255,255,0.9);
}

.back {
	color:rgba(255, 255, 255, 0.95);
	text-decoration: none;
}

.denied {
	border:1px solid #fa6e6e;
}

.remove {
	color:#bd3737;
	font-size: 40px;
	position: absolute;
	margin-left: 215px;
	margin-top: -10px;
}
